#about-me {
  grid-row: 4/5;
  grid-column: 2/4;
  border-radius: 50px;
  background: #FE7F52;
  border: none;
  height: 75%;
  width: 70%;
  font-family:'Anonymous Pro', monospace;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.5;
  box-shadow: -1px 3px 5px 4px rgba(235,235,235,1);
}

#resume {
  grid-row: 4/5;
  grid-column: 4/6;
  border-radius: 50px;
  border: 2px solid #FE7F52;
  height: 75%;
  width: 70%;
  font-family: 'Anonymous Pro', monospace;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.5;
  box-shadow: -1px 3px 5px 4px rgba(235,235,235,1);
}