@import "header.css";
@import "typing-words.css";
@import "buttons.css";
@import "footer.css";
@import "box.css";
@import "cards.css";

body {
  margin: 0px;
}



.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* justify-content: center;
  align-items: center; */
  /* flex-wrap: wrap; */
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  color: #282B3A;
  overflow: auto;
}


.main {
  width: 100vw;
  height: calc(100vh - 150px);
  display: grid;
  grid-template-rows: 100px 100px auto 100px 100px;
  grid-template-columns: repeat(12, 1fr);
}

.main .heading {
  margin: 40px 0px 0px 0px;
  grid-row: 1/1;
  grid-column: 2/7;
}

.main .heading span {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
}


.main .intro {
  grid-row: 3/4;
  grid-column: 2/8;
}

.main .intro p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 2;
  width: 100%;
}

.main-image {
  grid-row: 2/4;
  grid-column: 9/12;
}

.main-image img {
  height: 75%;
  width: 75%;
  border-radius: 50px;
  opacity: 0.6;
}


.about-izzy {
  grid-row: 2/5;
  grid-column: 2/6;
}



.projects {
  grid-row: 2/6;
  grid-column: 3/11;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px 0px 20px 0px;
  font-family: 'Poppins', sans-serif;
}




.notes {
  grid-row: 3/6;
  grid-column: 2/12;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* overflow: scroll; */
}

.featured-notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.notepost {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 80px 0px;
}

.notepost p {
  padding-bottom: 10px;
}

hr {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #D7D6DE;
  width: 100%;
}

.notepost img {
  height: 40%;
  width: 75%;
}




@media only screen and (max-width:800px) {

  .main .heading {
    grid-column: 2/11;
  }
  .main .heading span {
    font-size: 29px;
  }

  .block {
    display: block;
    height: 200vh;
  }

  .main .intro {
    grid-column: 2/12;
  }

  .main .intro p {
    font-size: 18px;
  }

  .projects {
    flex-wrap: wrap;
  }
  .projects .card {
    margin: 10px 0px 0px 0px;
  }



}