@import "header.css";
@import "typing-words.css";
@import "footer.css";
@import "cards.css";


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 0.6;
    transform: translate3d(0, 0, 0);
  }
}

body {
  margin: 0px;
  scroll-behavior: smooth;
}


.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  color: #282B3A;
  overflow: auto;
}

.container-loaded {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  color: #282B3A;
  overflow: auto;
}

.main {
  display: flex;
  margin: 100px;
  margin-bottom: 0px;
  flex-direction: column;
  height: 70vh;
}


.heading {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
}

.main .heading {
  margin-top: 40px
}

.main .heading .word {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
}

.main .intro {
  margin-top: 100px;
  width: 70%;
}

.main .intro p {
  font-size: 40px;
  line-height: 2;
  letter-spacing: 2;
  font-weight: lighter;
}

.about-container {
  margin: 100px;
  display: flex;
  flex-direction: column;
}

.heading-container {
  display: flex;
  align-items: right;
  justify-content: flex-end;
  height: 100vh;
  background-image: linear-gradient(180deg, white 0%, white 25%, rgba(254,127,82, 0.6) 50%, rgba(254,127,82, 0.6) 75%, white 100% );
  border-radius: 25px;
}


.inner-container {
  line-height: 1.5;
  width: 50%;
}

.inner-container p {
  font-size: 40px;
  line-height: 2;
  letter-spacing: 2;
  font-weight: lighter;
}



button {
  padding: 10px 15px;
  margin: 10px;
  width: 200px;
  opacity: 0.8;
  background-color: rgba(254,127,82, 0.6);
  border-radius: 25px;
  border: none;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  float: right;
}

button a {
  text-decoration: none;
  color: #282B3A;
}


.find-more {
  height: 50px;
  margin-top: 50px;
  font-family: inherit;
  letter-spacing: 2px;
  font-size: 14px;
  background-color: white;
  border: 3px solid #FE7F52;
  float: none;
}

.hero-container {
  box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.5) inset, 30px 30px 80px rgba(18, 7, 70, 0.1), -30px -30px 80px rgba(255, 255, 255, 1.0); 
  border-radius: 10px;
  height: auto;
  margin: 50px;
  padding: 10px;
  width: 75%;
}

.hero-container h2 {
  font-size: 40px;
  line-height: 2;
  letter-spacing: 2;
  font-weight: lighter;
}

.hero-container p {
  letter-spacing: 2;
  font-weight: lighter;
  line-height: 2
}

.hero-container a {
  text-decoration: none;
  color: inherit;
}

#number3 {
  align-self: flex-end;
}

#number5 {
  align-self: flex-end;
}



.main .intro p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 2;
  width: 100%;
}




.about {
  margin: 40px 0px;
}

.about p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 2;
}


#project_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 60vh 60vh 60vh 60vh;
}

#project_intro {
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 100px;
}

#project_intro h2 {
  line-height: 50px;
  margin-top: 100px;
}

#project_intro p {
  font-size: 20px;
  letter-spacing: 2px;
}

#block_one {
  grid-row: 2;
  grid-column: 1/3;
  background-color: #FE7F52;
  opacity: 0.6;
  z-index: -1;
  border-radius: 0px 10px 10px 0px;
}

#project_one {
  grid-row: 2;
  grid-column: 3/6;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#block_two {
  grid-row: 3;
  grid-column: 5/7;
  background-color: #FE7F52;
  opacity: 0.6;
  z-index: -1;
  border-radius: 10px 0px 0px 10px;
}

#project_two {
  grid-row: 3;
  grid-column: 1/4;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#block_three {
  grid-row: 4;
  grid-column: 1/3;
  background-color: #FE7F52;
  opacity: 0.6;
  z-index: -1;
  border-radius: 0px 10px 10px 0px;
}

#project_three {
  grid-row: 4;
  grid-column: 3/6;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

hr {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #D7D6DE;
  width: 100%;
}

.contact {
  display: flex;
  width: 75;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact a {
  text-decoration: none;
  color: inherit;
}

.contact h2 {
  letter-spacing: 2px;
  font-size: 35px;
}

.contact p {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: lighter;
}


.small-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row:1;
  grid-column:9/12;
  margin: 10px 0px;
  font-family: 'Anonymous Pro', monospace;
}

.small-tag p {
  color: #282B3A;
  letter-spacing: 2px;
  font-size: small;
  font-style: italic;
}

.small-tag img {
  height: 20px;
  width: 40px;
  z-index: -1;
  align-self: flex-end;
}

.phone {
  grid-row: 3/6;
  grid-column: 8/10;
  transform: rotate(-25deg);
  z-index: -1;
}

.phone img {
  height: 500px;
  width: auto;
  opacity: 0.6;
  animation-name: fadeInUp;
  animation-duration: 2s;
}

.contact-subheading {
  grid-row: 2/3;
  grid-column: 2/6;
  margin: 10px 0px;
}

@media only screen and (max-width:800px) {

  .main .heading {
    grid-column: 2/11;
  }
  .main .heading span {
    font-size: 29px;
  }


  .detail-sidebar {
    display:none;
  }

  .block {
    display: block;
  }

  .main .intro {
    grid-column: 2/12;
  }

  .main .intro p {
    font-size: 18px;
  }

  .projects {
    flex-wrap: wrap;
  }
  .projects .card {
    margin: 10px 0px 0px 0px;
  }

  .small-tag {
    display: none;
  }

  .phone {
    display: none;
  }

  .notepost img {
    height: auto;
  }

}